@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.carouselimg {
    height: 720px;
}

.f1 {
    font-family: 'Alatsi', sans-serif;
}

.f2 {
    font-family: 'Lato', sans-serif;
}

.ih1 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 99;
    max-width: 100%;
    font-weight: 1;
    font-size: 120%;
}

.ih2 {
    font-weight: slim;
    margin-top: 20px;
    text-align: center;
}

a {
    color: white;
}

.jh2 {
    margin-left: 20%;
    margin-right: 20%;
}

.center {
    text-align: center;
}

.card {
    margin-bottom: 1%;
    margin-left: 6%;
    text-align: center;
}

.row {
    text-align: center;
    margin-top: 1%;
}

.oh4 {
    margin: 10px;
}

.description {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 120%;
}

.description-sm {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 100%;
}

.title-h1 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 300%;
    letter-spacing: 2px;
}

h2 {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
}

button {
    margin-bottom: 1%;
}

.form-1 {
    padding-left: 10%;
    padding-right: 10%;
}

#main-h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 500%;
}

#main-h2 {
    text-align: center;
    margin-top: 1.5%;
    font-size: 350%;
    font-weight: lighter;
}

h4 {
    font-weight: normal;
    padding-left: 15%;
    padding-right: 15%;
}

li {
    text-align: justify;
}