@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.carouselimg {
    height: 720px;
}

.f1 {
    font-family: 'Alatsi', sans-serif;
}

.f2 {
    font-family: 'Lato', sans-serif;
}

.ih1 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 99;
    max-width: 100%;
    font-weight: 1;
    font-size: 120%;
}

.ih2 {
    font-weight: slim;
    margin-top: 20px;
    text-align: center;
}

a {
    color: white;
}

.jh2 {
    margin-left: 20%;
    margin-right: 20%;
}

.oh1 {
    margin-top: 1%;
    background: -webkit-linear-gradient(red, orange, green, purple, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.oh2 {
    margin-top: 1%;
    background: -webkit-linear-gradient(gray, black, gray, lightgray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.oh3 {
    margin-top: 1%;
    background: -webkit-linear-gradient(green, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.oh4 {
    margin-top: 1%;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.center {
    text-align: center;
}

.card {
    margin-bottom: 1%;
    margin-left: 6%;
    text-align: center;
}

.row {
    text-align: center;
}